# Arquivos de IDEs
.idea/
.vscode/
*.iml
*.iws
*.ipr
.project
.classpath
.settings/

# Saída de compilação do Maven
/target/
/pom.xml.tag
/pom.xml.releaseBackup
/pom.xml.versionsBackup
/pom.xml.next
/release.properties
/dependency-reduced-pom.xml
/build/
/out/

# Logs
*.log
logs/

# Arquivos de configurações de ambiente (se forem sensíveis ou específicos da sua máquina)
*.properties
*.yml
# Exemplo: application-dev.properties ou application-prod.properties
# Se você tiver arquivos como application-local.properties, pode ignorá-lo:
# application-local.properties

# Arquivos de sistema operacional
.DS_Store
Thumbs.db

# Arquivos de pacotes e caches de ferramentas de dependências
.gradle/
/node_modules/ # Se você adicionar um frontend com Node.js
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Arquivos de containers e máquinas virtuais
.vagrant/
.docker/

# Diretório do Maven Wrapper (excluir o jar do wrapper que é baixado)
.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/MavenWrapperDownloader.jar